:root.dark { 
    --color-bg: #222222;
}

body {
    background-color: var(--color-bg);
}

.piece {
    display: flex;
    height: var(--square-size);
    align-items: center;
    justify-content: center;
    font-size: calc(var(--square-size) * 0.9);
    font-weight: 500;

    /* Stops the background from being dragged. Taken from https://stackoverflow.com/questions/61812276/why-html-draggable-element-drags-with-parent-background */
    transform: translate(0, 0);

}

.container {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#board {
    --corner-border-radius: 7px;
    display: grid; 
    /* This makes the squares resize responsively */
    --square-size: clamp(20px, 50vw, calc(min(80vh, 80vw)/8));
    grid-template: repeat(8, var(--square-size)) / repeat(8, var(--square-size));
    
}

.top-left-corner { 
    border-top-left-radius: var(--corner-border-radius);
}

.top-right-corner {
    border-top-right-radius: var(--corner-border-radius);
}

.bottom-left-corner {
    border-bottom-left-radius: var(--corner-border-radius);
}

.bottom-right-corner { 
    border-bottom-right-radius: var(--corner-border-radius);
}

/* Taken from https://www.w3schools.com/howto/howto_css_disable_text_selection.asp#:~:text=You%20can%20use%20the%20user,be%20used%20to%20prevent%20this. */
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* Taken from https://stackoverflow.com/questions/5697067/css-for-grabbing-cursors-drag-drop */
.grabbable {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.drop-zone {
    border: 1px solid red;
}

