:root.dark { 
    --color-bg: #222222;
}

body {
    background-color: var(--color-bg);
}

.square {
    display: flex;
    height: var(--square-size);
    align-items: center;
    justify-content: center;
    font-size: calc(var(--square-size) * 0.95);
}

.container {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#board {
    --corner-border-radius: 7px;
    display: grid; 
    /* This makes the squares resize responsively */
    --square-size: clamp(20px, 50vw, calc(min(80vh, 80vw)/8));
    grid-template: repeat(8, var(--square-size)) / repeat(8, var(--square-size));
    
}

.top-left-corner { 
    border-top-left-radius: var(--corner-border-radius);
}

.top-right-corner {
    border-top-right-radius: var(--corner-border-radius);
}

.bottom-left-corner {
    border-bottom-left-radius: var(--corner-border-radius);
}

.bottom-right-corner { 
    border-bottom-right-radius: var(--corner-border-radius);
}